/* PAGE */

.privacy-page{
background:#f7f7f7;
font-family:Arial, Helvetica, sans-serif;
}


/* BREADCRUMB */

.breadcrumb{
padding:20px 80px;
font-size:18px;
color:#333;
}


/* MAIN CONTAINER */

.privacy-container{
display:flex;
gap:30px;
padding:20px 80px;
}


/* SIDEBAR */

.sidebar{
width:300px;
background:white;
padding:20px;
border-radius:15px;
border:1px solid #ddd;
display:flex;
flex-direction:column;
gap:15px;
}

.menu-item{
padding:16px;
border:1px solid #ddd;
border-radius:10px;
font-size:16px;
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
}

.menu-item.active{
background:#7b1d1d;
color:white;
border:none;
}

.logout-btn{
margin-top:40px;
padding:14px;
border-radius:12px;
border:1px solid #f2bcbc;
background:white;
color:red;
font-size:16px;
cursor:pointer;
}


/* POLICY CONTENT */

.policy-content{
flex:1;
background:white;
padding:30px;
border-radius:15px;
border:1px solid #ddd;
}

.policy-content h2{
font-size:28px;
margin-bottom:20px;
}

.policy-content h3{
color:#7b1d1d;
margin-top:20px;
font-size:22px;
}

.policy-content p{
color:#555;
line-height:1.6;
margin-top:8px;
}



.copyright{
text-align:center;
padding:20px;
font-size:14px;
}