body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f3f2;
}

/* Layout */
.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #5c0b0b;
  color: white;
  padding: 20px;
}

.logo {
  text-align: center;
  color: #ffcc33;
    margin-bottom: 40px;

}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  margin: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
}

.sidebar li:hover,
.sidebar .active {
  background: white;
  color: #5c0b0b;
}

.management {
  margin-top: 40px;
}

/* Main Section */
.main {
  flex: 1;
  padding: 20px 40px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar input {
  width: 60%;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #eae6e4;
}

.bell {
  background: #f4c542;
  padding: 10px;
  border-radius: 50%;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.add-btn {
  background: #f4c542;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background: #7a1d1d;
  color: white;
}

th, td {
  padding: 15px;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Stock Status */
.in {
  background: #b7e4c7;
  padding: 6px 12px;
  border-radius: 20px;
  color: green;
}

.out {
  background: #f8caca;
  padding: 6px 12px;
  border-radius: 20px;
  color: red;
}

/* Actions */
.actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.delete {
  color: red;
  cursor: pointer;
}

.edit {
  color: green;
  cursor: pointer;
}
.logo-box {
  text-align: center;
  margin-bottom: 20px;
}

.logo-box img {
  width: 120px;
  border-radius: 10px;
}